<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.snowfall.js"></script>
<style>
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    body {
        background-color: #222;
        color: #fff;
    }

    h1 {
        margin: 250px auto;
        text-align: center;
    }
</style>
<body>

<script type="text/javascript">
    $.snowfall.start({
        content: '<i class="fa fa-snowflake-o"></i>',
        size: {
            min: 20,
            max: 50
        }
    });
</script>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
